<!-- HOT DEAL SECTION -->
<div id="hot-deal" class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<div class="col-md-12">
				<div class="hot-deal">
				
					<ul class="hot-deal-countdown">
						<li>
							<div>
								<h3>02</h3>
								<span>Days</span>
							</div>
						</li>
						<li>
							<div>
								<h3>10</h3>
								<span>Hours</span>
							</div>
						</li>
						<li>
							<div>
								<h3>34</h3>
								<span>Mins</span>
							</div>
						</li>
						<li>
							<div>
								<h3>60</h3>
								<span>Secs</span>
							</div>
						</li>
					</ul>
					<h2 class="text-uppercase">hot deal this week</h2>
					<p>New Collection Up to 50% OFF</p>

				</div>
			</div>
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /HOT DEAL SECTION -->

<!-- SECTION -->
<div class="section" id="new-product">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">

			<!-- section title -->
			<div class="col-md-12">
				<div class="section-title">
					<h3 class="title">New Products</h3>
					<hr />
				</div>
			</div>
			<!-- /section title -->
			<div class="container">
				<div class="row">
					<div class="col-md-12 mb-8">
						<!-- Nav tabs -->
						<tabset>
							<!-- bấm zô tab nào thì hiển thị sản phẩm thuộc category tab đó xài ngFor liệt kê category -->
							<tab *ngFor="let category of categories" heading={{category.categoryName}}>
								<div class="col-md-12">
									<!-- show product -->
									<div class="container">
										<div class="row">
											<div class="col-sm-6 col-md-4">
												<div class="card mt-4">
													<div class="card-header">
														Category of Product
														<div class="card-header-actions">
															<span class="badge badge-pill badge-danger">Promo 30%</span>
															<span class="badge badge-success">New</span>
														</div>
													</div>
													<div class="card-body">
														<div class="product">
															<div class="product-img">
																<img src="assets/img/laptop/product04.png" alt="">
															</div>
															<div class="product-body">
																<p class="product-category">Category</p>
																<h3 class="product-name"><a href="#">product name</a>
																</h3>
																<h4 class="product-price">$980.00 </h4>
																<div class="product-rating">
																	<i class="fa fa-star"></i>
																	<i class="fa fa-star"></i>
																	<i class="fa fa-star"></i>
																	<i class="fa fa-star"></i>
																	<i class="fa fa-star"></i>
																	<p class="product-rating-view">16 comments</p>
																</div>
															</div>
															<div class="add-to-cart">
																<div class="view">
																	<button class="add-to-cart-btn"
																		routerLink="/user/viewproductdetail"><i
																			class="fa fa-eye"></i> VIEW</button>
																</div>

															</div>
														</div>
													</div>
												</div>
											</div>
											<!--/.col-->
										</div>
										<!--/.row-->
										<!-- nút view all dựa vào id tab Ẽx:"Laptop" để chuyển hướng tới trang product list of category latop 
										routerLink thêm vào idcategory là id tab home
										-->
										<button type="button" class="btn btn-danger btn-lg" id="view-all-btn" routerLink="/user/viewproductlist">View
											All</button>
										<!-- show product -->
									</div>
								</div>

							</tab>

						</tabset>
					</div>
					<!--/.col-->

				</div>
				<!--/.row-->
			</div>

			<!-- Products tab & slick -->


			<!-- Products tab & slick -->
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /SECTION -->
<!-- SECTION -->
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">

			<!-- section title -->
			<div class="col-md-12">
				<div class="section-title">
					<h3 class="title">Top selling</h3>
					<hr />
				</div>
			</div>
			<!-- /section title -->
			<!-- Products tab & slick -->
			<div class="container">
				<div class="row">
					<div class="col-md-12 mb-8">
						<!-- Nav tabs -->
						<tabset>
							<!-- bấm zô tab nào thì hiển thị sản phẩm thuộc category tab đó xài ngFor liệt kê category -->
							<tab *ngFor="let category of categories" heading={{category.categoryName}}>
								<div class="col-md-12">
									<!-- show product -->
									<div class="container">
										<div class="row">
											<div class="col-sm-6 col-md-4">
												<div class="card mt-4">
													<div class="card-header">
														Category of Product
														<div class="card-header-actions">
															<span class="badge badge-pill badge-danger">Promo 30%</span>
															<span class="badge badge-success">New</span>
														</div>
													</div>
													<div class="card-body">
														<div class="product">
															<div class="product-img">
																<img src="assets/img/headphone/headphone01.png" alt="">
															</div>
															<div class="product-body">
																<p class="product-category">Category</p>
																<h3 class="product-name"><a href="#">product name</a>
																</h3>
																<h4 class="product-price">$980.00 </h4>
																<div class="product-rating">
																	<i class="fa fa-star"></i>
																	<i class="fa fa-star"></i>
																	<i class="fa fa-star"></i>
																	<i class="fa fa-star"></i>
																	<i class="fa fa-star"></i>
																	<p class="product-rating-view">16 comments</p>
																</div>
															</div>
															<div class="add-to-cart">
																<div class="view">
																	<button class="add-to-cart-btn"
																		routerLink="/user/viewproductdetail"><i
																			class="fa fa-eye"></i> VIEW</button>
																</div>

															</div>
														</div>
													</div>
												</div>
											</div>
											<!--/.col-->
										</div>
										<!--/.row-->
										<button type="button" class="btn btn-danger btn-lg" id="view-all-btn" routerLink="/user/viewproductlist">View
											All</button>
										<!-- show product -->
									</div>
								</div>
							</tab>
						</tabset>
					</div>
					<!--/.col-->

				</div>
				<!--/.row-->
			</div>
			<!-- /Products tab & slick -->


		</div>

		<!-- /row -->
	</div>
	<!-- /container -->

</div>