   <app-header-user></app-header-user>

         <!-- <app-homepage></app-homepage> -->
         <router-outlet></router-outlet>
         <!-- <app-cart></app-cart> -->
        
         <!-- <app-order></app-order> -->
            <!-- <app-product-detail></app-product-detail> -->
            <!-- <app-manage></app-manage> -->
           <!-- <app-information></app-information>
           <app-checkout></app-checkout> -->
           <!-- <app-manage></app-manage> -->
            <app-footer-user></app-footer-user>