
    <!-- FOOTER -->
    <footer id="footer">
        <!-- top footer -->
        <div class="section">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <div class="col-md-3 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title">About Us</h3>

                            <ul class="footer-links">
                                <li><i class="fa fa-phone"></i> +842799990</li>
                                <li><i class="fa fa-map-marker"></i> 01, Vo Van Ngan</li>
                                <li><i class="fa fa-clock-o"></i> Mon-Fri 09.00 - 17.00</li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-3 col-xs-6">
                            <div class="categories-footer">
                        <div class="footer">
                            <h3 class="footer-title">Categories</h3>
                            <ul class="footer-links">
                                <li><a href="#">Hot deals</a></li>
                                <li><a href="#">Laptops</a></li>
                                <li><a href="#">Gaming Gear</a></li>
                            </ul>
                        </div>
                            </div>
                    </div>                

                    <div class="col-md-3 col-xs-6">
                      
                        <div class="footer">
                            <h3 class="footer-title">Service</h3>
                            <ul class="footer-links">
                                <li><a href="#">My Account</a></li>
                                <li><a href="#">View Cart</a></li>
                                <li><a href="#">Help</a></li>
                            </ul>
                        
                    </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                            
                        <div class="footer">
                            <h3 class="footer-title">Founders</h3>
                            <ul class="footer-links">
                                <li>Phạm Thị Như Hảo</li>
                                <li>Nguyễn Thị Ngọc Trân</li>
                                <li>Đặng Châu Bảo Văn</li>
                            </ul>
                        </div>
                         
                    </div>   
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /top footer -->

        <!-- bottom footer -->
        <div id="bottom-footer" class="section">
            <div class="container">
                <!-- row -->
                <div class="row">
                    <div class="col-md-12 text-center">
                        
                        <div class="copyright">
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved 
                          
                        </div>


                    </div>
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /bottom footer -->
    </footer>
    <!-- /FOOTER -->

    

