<!-- SECTION -->
<div class="section" style="padding-top: 140px;">
    <!-- container -->
    <div class="container" >
        <!-- row -->
        <div class="row">
            <div class="col-md-2 ">
                <!-- Product thumb imgs -->
                <div class="row mt-5">
                    <div class="product-thumb">
                        <img src="assets/img/laptop/product04.png" alt="">
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="product-thumb">
                        <img src="assets/img/laptop/product03.png" alt="">
                    </div>
                </div>
                <div class="row mt-1" >
                    <div class="product-thumb">
                        <img src="assets/img/laptop/product01.png" alt="">
                    </div>
                </div>
                <!-- /Product thumb imgs -->
            </div>
            <!-- Product main img -->

            <div class="col-md-5 ">
                <div id="product-main-img">
                    <div class="product-preview">
                        <img src="assets/img/laptop/product06.png" alt="">
                    </div>
                </div>
            </div>
            <!-- /Product main img -->

            <!-- Product details -->
            <div class="col-md-5">
                <div class="product-details">
                    <h2 class="product-name">product name </h2>
                    <div>
                        <div class="product-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <a class="review-link">10 Review(s) </a>
                    </div>
                    <div>
                        <h3 class="product-price">$980.00 </h3>
                        <span class="product-available">In Stock</span>
                    </div>
                    <h5>Product Detail </h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <div class="add-to-cart">
                        <ng-number-picker [value]=1 [min]="1" [max]="6" [size]="large"></ng-number-picker>
                        <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                    </div>
                    <ul class="product-links">
                        <li>Category:</li>
                        <li><a href="#">Laptop</a></li>
                    </ul>
                </div>
            </div>
            <!-- /Product details -->

        </div>
        <!-- Product tab -->
        <!-- bình luận -->
        <div class="col-md-12">
            <hr />
            <div class="row">
                <!-- Rating -->
                <div class="col-md-3">
                    <div id="rating">
                        <div class="rating-avg">
                            <span>4.5</span>
                            <div class="rating-stars">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                        </div>
                        <ul class="rating">
                            <li>
                                <div class="rating-stars">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="rating-progress">
                                    <div style="width: 80%;"></div>
                                </div>
                                <span class="sum">3</span>
                            </li>
                            <li>
                                <div class="rating-stars">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                                <div class="rating-progress">
                                    <div style="width: 60%;"></div>
                                </div>
                                <span class="sum">2</span>
                            </li>
                            <li>
                                <div class="rating-stars">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                                <div class="rating-progress">
                                    <div></div>
                                </div>
                                <span class="sum">0</span>
                            </li>
                            <li>
                                <div class="rating-stars">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                                <div class="rating-progress">
                                    <div></div>
                                </div>
                                <span class="sum">0</span>
                            </li>
                            <li>
                                <div class="rating-stars">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                                <div class="rating-progress">
                                    <div></div>
                                </div>
                                <span class="sum">0</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- /Rating -->

                <!-- Reviews -->
                <div class="col-md-6">
                    <div id="reviews">
                        <ul class="reviews">
                            <li>
                                <div class="review-heading">
                                    <h5 class="name">John</h5>
                                    <p class="date">27 DEC 2018, 8:0 PM</p>
                                    <div class="review-rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o empty"></i>
                                    </div>
                                </div>
                                <div class="review-body">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                                        do eiusmod tempor incididunt ut labore et dolore magna
                                        aliqua</p>
                                </div>
                            </li>
                            <li>
                                <div class="review-heading">
                                    <h5 class="name">John</h5>
                                    <p class="date">27 DEC 2018, 8:0 PM</p>
                                    <div class="review-rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o empty"></i>
                                    </div>
                                </div>
                                <div class="review-body">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                                        do eiusmod tempor incididunt ut labore et dolore magna
                                        aliqua</p>
                                </div>
                            </li>
                            <li>
                                <div class="review-heading">
                                    <h5 class="name">John</h5>
                                    <p class="date">27 DEC 2018, 8:0 PM</p>
                                    <div class="review-rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o empty"></i>
                                    </div>
                                </div>
                                <div class="review-body">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                                        do eiusmod tempor incididunt ut labore et dolore magna
                                        aliqua</p>
                                </div>
                            </li>
                        </ul>
                        <ul class="reviews-pagination">
                            <li class="active">1</li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                        </ul>
                    </div>
                </div>
                <!-- /Reviews -->

                <!-- Review Form -->
                <div class="col-md-3">
                    <div id="review-form">
                        <form class="review-form">
                            <input class="input" type="text" placeholder="Your Name">
                            <input class="input" type="email" placeholder="Your Email">
                            <textarea class="input" placeholder="Your Review"></textarea>
                            <div class="input-rating">
                                <span>Your Rating: </span>
                                <div class="stars">
                                    <input id="star5" name="rating" value="5" type="radio"><label for="star5"></label>
                                    <input id="star4" name="rating" value="4" type="radio"><label for="star4"></label>
                                    <input id="star3" name="rating" value="3" type="radio"><label for="star3"></label>
                                    <input id="star2" name="rating" value="2" type="radio"><label for="star2"></label>
                                    <input id="star1" name="rating" value="1" type="radio"><label for="star1"></label>
                                </div>
                            </div>
                            <button class="primary-btn">Submit</button>
                        </form>
                    </div>
                </div>
                <!-- /Review Form -->
            </div>
            <!-- /product tab content  -->
        </div>
        <!-- bình luận -->
        <!-- /product tab -->

        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->
<!-- Section -->
<div class="section">
    <hr />
    <!-- container -->
    <div class="container">

        <!-- row -->
        <div class="row">

            <!-- section title -->
            <div class="col-md-12">

                <div class="section-title">

                    <h3 class="title">Recommend Product</h3>
                    <hr />
                </div>
            </div>
            <!-- /section title -->
            <!-- Products tab & slick -->
            <div class="container">
                <div class="row">
                    <div class="col-md-12 mb-8">
                        <!-- Nav tabs -->


                        <div class="container">
                            <div class="row">
                                <div class="col-sm-6 col-md-4">
                                    <div class="card mt-4">
                                        <div class="card-header">
                                            Category of Product
                                            <div class="card-header-actions">
                                                <span class="badge badge-pill badge-danger">Promo 30%</span>
                                                <span class="badge badge-success">New</span>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="product">
                                                <div class="product-img">
                                                    <img src="assets/img/product01.png" alt="">
                                                </div>
                                                <div class="product-body">
                                                    <p class="product-category">Category</p>
                                                    <h3 class="product-name"><a href="#">product name</a>
                                                    </h3>
                                                    <h4 class="product-price">$980.00 </h4>
                                                    <div class="product-rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <p class="product-rating-view">16 comments</p>
                                                    </div>
                                                </div>
                                                <div class="add-to-cart">
                                                    <div class="view">
                                                        <button class="add-to-cart-btn"
                                                            routerLink="/user/viewproductdetail"><i
                                                                class="fa fa-eye"></i> VIEW</button>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--/.col-->
                            </div>
                            <!--/.row-->
                            <button class="btn btn-danger btn-lg" id="view-all-btn"
                                routerLink="/user/viewproductlist">Continue</button>
                            <!-- show product -->
                        </div>

                    </div>
                    <!--/.col-->

                </div>
                <!--/.row-->
            </div>
            <!-- /Products tab & slick -->


        </div>

        <!-- /row -->
    </div>
    <!-- /container -->
</div>